.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  padding: 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#right_side_background {
  background:url('https://keenthemes.com/metronic/preview/react/demo1/media/bg/bg-4.jpg');
  width: 100%;
  background-size: cover;
}
#left_side_content {
  padding:40px;
}
.kt-login__head{
  font-size: 1rem;
    font-weight: 500;
    text-align: right;
}
.kt-login__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.kt-login__title{display: block;
  text-align: center;
  margin-bottom: 5rem;
  text-decoration: none;}